.footer {
  padding: 1.5rem;
  font-size: .8rem;
  text-align: center;
  color: var(--color-decoration);
}

.footer__link {
  text-decoration: none;
  color: var(--color-decoration);
  transition: color .2s ease-in;

  &:hover {
    color: var(--color-text-secondary);
  }
}
