.skills-list {
  list-style: none;
  padding: 0 0 0 24px;
  margin: 0;
}

.skills-list__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: .25rem 0;
  transition: color .2s ease-in;

  &:hover {
    color: var(--color-text-contrast);
  }
}

.skills-list__icon {
  display: inline-block;
  margin-right: .5rem;
  width: 1.2em;
  height: 1.2em;
  fill: var(--color-text-main);
  transition: fill .2s ease-in;

  .skills-list__item:hover & {
    fill: var(--color-text-contrast);
  }
}
