<!DOCTYPE html>
<html
    lang="en"
    class=""
>
<head>
    <!--  region Fonts  -->
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/Oswald-VariableFont_wght.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/static/Oswald-Light.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/static/Oswald-ExtraLight.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/static/Oswald-Bold.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/static/Oswald-SemiBold.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/static/Oswald-Medium.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Oswald/static/Oswald-Regular.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Black.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-BlackItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Bold.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-BoldItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-ExtraBold.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-ExtraBoldItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-ExtraLight.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Italic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-ExtraLightItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-LightItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Light.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-MediumItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Medium.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Regular.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-SemiBold.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-SemiBoldItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-Thin.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/InterTight-VariableFont_wght.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/static/InterTight-ThinItalic.woff2"
        crossorigin="anonymous"
    />
    <link
        rel="preload"
        as="font"
        type="font/woff2"
        href="/fonts/Inter_Tight/InterTight-Italic-VariableFont_wght.woff2"
        crossorigin="anonymous"
    />
    <!--  endregion Fonts  -->

    <meta charset="UTF-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <link
        rel="icon"
        href="/favicon.ico"
        sizes="any"
    />
    <link
        rel="icon"
        type="image/svg+xml"
        href="/favicon.svg?v=<%- iconHash %>"
    />
    <link
        rel="apple-touch-icon"
        href="/icons/<%- iOsIconName %>"
    />

    <link
        rel="stylesheet"
        href="src/styles/404.scss"
    />

    <title>
        Andrew Rusanov | Page Not Found
    </title>

    <style>
        html {
            font-family:
                -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;
            font-size: 10px;
        }
    </style>
</head>

<body class="body">
    <div class="container">
        <h1
            class="
                title
                title--glitch
            "
            title="404"
        >
            404
        </h1>

        <h2 class="subtitle">
            Page Not Found
        </h2>

        <a
            href="/"
            class="link"
        >
            Go Home
        </a>
    </div>
</body>
</html>
