@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/Inter-Medium.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/assets/fonts/Inter-Bold.ttf') format('ttf');
}
