@import "./fonts";
@import "./global";
@import "../widgets/card/styles/card";
@import "../widgets/contactList/styles/contactList";
@import "../widgets/footer/styles/footer";

.body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Inter Tight Variable", ui-sans-serif;
  font-size: 1.6rem;
  font-variation-settings: "wght" 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-main);
  background-color: var(--color-bg);
  background-image: url("/img/noise.png");
  background-repeat: repeat;
  background-blend-mode: overlay;

  @include font-variation-fallback("Inter Tight", 400);
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
}
